<div class="grid grid-cols-4 gap-4 overflow-x-auto justify-between mt-5">
  <div class="bg-white col-span-2 sm:rounded-lg p-5 justify-items-center">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 bg-white">
      <thead class="bg-gradient-to-r from-cyan-500 to-blue-500 text-xs text-white uppercase dark:text-gray-100">
        <tr>
          <!-- <div class="w-full"> -->
            <th scope="col" class="px-6 py-3">Customer name</th>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Delivery state</th>
          <!-- </div> -->

        </tr>
      </thead>
      <tbody>
          <tr (click)="onOrderFocused(item.id)" *ngFor="let item of orders$ | async"
            class="bg-light-300 light:bg-light-900 dark:text-cyan-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-100">

            <td scope="row" class="px-6 py-4 font-medium text-cyan-600 whitespace-nowrap dark:text-gray-1000">
              {{ item.attributes.customer.data.attributes.name }}
            </td>
            <td scope="row" class="px-6 py-4 font-medium text-cyan-600 whitespace-nowrap dark:text-gray-1000">
              {{ item.attributes.createdAt | date : "mediumDate" : "local" }}
            </td>
            <td class="px-6 py-4">
              <div data-te-chip-init data-te-ripple-init 
                class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-center rounded-[16px] border bg-[#eceff1] bg-[transparent] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:border-[#3b71ca] hover:!shadow-none  "
                data-te-ripple-color="dark">
                <span class=""> 
                  {{ item.attributes.order_state }}
                </span>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="bg-white col-span-2 sm:rounded-lg">
    <div *ngIf="!orderToShow">
      <div class="bg-gray-200 p-5 m-3 justify-between">
        <div class=" text-center text-xl font-thin italic text-dark">Select an order to see details</div>
      </div>
    </div>

    <div *ngIf="orderToShow">
      <div class="bg-gray-200 p-5 m-3 justify-between">
        <div>
          <h2 class="text-5xl font-semibold">{{ orderToShow.customer.data.attributes.name }}</h2>
        </div>
        <div class=" text-right text-sm font-semibold "> 
          <span class="font-light">Order date : <span class="text-sm font-semibold text-gray-500">{{orderToShow.createdAt | date : "mediumDate" : "local"}}</span></span>
        </div>
        <div [ngClass]="orderState" class="text-right text-sm font-semibold "> 
          <span>{{ orderToShow.order_state }}</span>
        </div>
      </div>

      <div class="relative overflow-x-auto  p-5 m-3">
        <table class="w-full text-sm text-left">
          <thead class="text-xs uppercase bg-gray-100 ">
            <tr>
              <th scope="col" class="px-6 py-3 rounded-l-lg">
                Product name
              </th>
              <th scope="col" class="px-6 py-3">
                Qty
              </th>
              <th scope="col" class="px-6 py-3 rounded-r-lg">
                Unit Price
              </th>
              <th scope="col" class="px-6 py-3 rounded-r-lg">
                Total Price
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white ">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
                {{ orderToShow.product.attributes.name }}
              </th>
              <td class="px-6 py-4">
                {{ orderToShow.qte }}
              </td>
              <td class="px-6 py-4">
                {{ orderToShow.product.attributes.price | currency : "XOF"}}
              </td>
              <td class="px-6 py-4">
                {{ orderToShow.product.attributes.price * orderToShow.qte | currency : "XOF"}}
              </td>
            </tr>

          </tbody>
          <tfoot>
            <tr class="font-semibold text-gray-900 dark:text-white">
              <th scope="row" class="px-6 py-3 text-base">Total</th>
              <td class="px-6 py-3">3</td>
              <td class="px-6 py-3">21,000</td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>