<div class="grid grid-cols-4 gap-4 overflow-x-auto justify-between mt-5">
  <div class="bg-white col-span-2 sm:rounded-lg p-5">
    <table
      class="w-full text-sm text-left text-gray-500 dark:text-gray-400 bg-white"
    >
      <thead
        class="bg-gradient-to-r from-cyan-500 to-blue-500 text-xs text-white uppercase dark:text-gray-100"
      >
        <tr>
          <div class="w-full">
            <th scope="col" class="px-6 py-3">Customer name</th>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Delivery state</th>
          </div>
          
        </tr>
      </thead>
      <tbody>
        <div class="w-full" *ngFor="let item of orders$ | async">

        <tr  
          (click)="onOrderFocused(item.id)"
          class="bg-light-300 light:bg-light-900 dark:text-cyan-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-100"
        >
                <!-- <a onclick="{alert()}" href="javascript:void(0)"> -->

            <td 
              scope="row"
              class="px-6 py-4 font-medium text-cyan-600 whitespace-nowrap dark:text-gray-1000"
            >
              {{ item.attributes.customer.data.attributes.name }}
            </td>
            <td
              scope="row"
              class="px-6 py-4 font-medium text-cyan-600 whitespace-nowrap dark:text-gray-1000"
            >
              {{ item.attributes.createdAt| date : "mediumDate" : "local" }}
            </td>
            <td class="px-6 py-4">
              <div
                data-te-chip-init
                data-te-ripple-init
                class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-center rounded-[16px] border border-red-400 bg-[#eceff1] bg-[transparent] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:border-[#3b71ca] hover:!shadow-none dark:text-red-700"
                data-te-ripple-color="dark"
              >
                {{ "Undelivery" }}
              </div>
            </td>
          <!-- </a> -->
        </tr>
      </div>

      </tbody>
    </table>
  </div>
  <div class="bg-white col-span-2 sm:rounded-lg">
    <div *ngIf="order$ | async as order">
      <div>{{order.attributes.customer.data.attributes.name}}</div>
        
    </div>
  </div>
</div>
