<!-- 





  -->
  <div class="grid grid-cols-4 gap-4 justify-between">
   <div class="border-10 border-cyan-500	rounded-3xl bg-gradient-to-r from-blue-500 via-purple-400 to-pink-300 text-white">
      <div class="p-3"><h1 class="text-4xl font-thin">Clients</h1></div>
      <div class="float-right p-3">
         <h1 class="font-bold text-8xl">5</h1>
      </div>

   </div>
   <div class="border-10 border-cyan-500	rounded-3xl bg-gradient-to-r from-blue-500 via-purple-400 to-pink-300 text-white">
      <div class="p-3"><h1 class="text-4xl font-thin">Clients</h1></div>
      <div class="float-right p-3">
         <h1 class="font-bold text-8xl">5</h1>
      </div>

   </div>
   <div class="border-10 border-cyan-500	rounded-3xl bg-gradient-to-r from-blue-500 via-purple-400 to-pink-300 text-white">
      <div class="p-3"><h1 class="text-4xl font-thin">Clients</h1></div>
      <div class="float-right p-3">
         <h1 class="font-bold text-8xl">5</h1>
      </div>

   </div>
   <div class="border-10 border-cyan-500	rounded-3xl bg-gradient-to-r from-blue-500 via-purple-400 to-pink-300 text-white">
      <div class="p-3"><h1 class="text-4xl font-thin">Clients</h1></div>
      <div class="float-right p-3">
         <h1 class="font-bold text-8xl">5</h1>
      </div>

   </div>
 </div>

   <div class="divide-y-4  divide-slate-900"></div>

 <div class="bg-transparent relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
   <div class="p-10">
      
      <canvas id="firstChart"></canvas>
 
 
 </div>
 </div>